html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
}

.thumb {
  max-width: 100%;
  max-height: 100%;
}

.filter-white {
  filter: invert(99%) sepia(0%) saturate(463%) hue-rotate(357deg)
    brightness(114%) contrast(100%);
}

.mb-sm-0,
.my-sm-0 {
  margin-bottom: 0 !important;
}

.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
}

.border-0 {
  border: 0 !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.form-control-select {
  border: 1px solid lightgray;
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.5rem 0.5rem;
  margin-top: -12px;
  margin-bottom: -5px;
}

select {
  border: 0px;
  outline: 0px;
}

.select-text {
  margin-top: ".5rem";
  margin-bottom: ".5rem";
  font-size: "0.8rem";
  color: "gray";
}

.form-user .form-control-user {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 1.5rem 1rem;
}

.form-control-user {
  font-size: 2rem;
  border-radius: 10rem;
  padding: 1.5rem 1rem;
}

.btn-nav {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}

.btn-non-main {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
  background: transparent;
}

.btn-non-main:hover {
  color: white;
  background: #0275d8;
}

.small-font {
  font-size: 0.8rem;
}

.form-user .btn-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: #fff;
  background-color: #ea4335;
  border-color: #fff;
}

.btn-google:hover {
  color: #fff;
  background-color: #e12717;
  border-color: #e6e6e6;
}

.btn-google:focus,
.btn-google.focus {
  color: #fff;
  background-color: #e12717;
  border-color: #e6e6e6;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #fff;
}

.btn-facebook:hover {
  color: #fff;
  background-color: #30497c;
  border-color: #e6e6e6;
}

.btn-facebook:focus,
.btn-facebook.focus {
  color: #fff;
  background-color: #30497c;
  border-color: #e6e6e6;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

h1 {
  font-weight: normal !important;
}

h2 {
  font-weight: normal !important;
}

h3 {
  font-weight: normal !important;
}

h4 {
  font-weight: normal !important;
}

h5 {
  font-weight: normal !important;
}

.pl-1 {
  padding-left: 1em;
}

.pr-1 {
  padding-right: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.mr-1 {
  margin-right: 1em;
}

.container {
  max-width: 960px !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-center {
  padding-top: 3em;
}

.logo {
  width: 10em;
  margin: 30px;
}

.navmenu {
  padding-right: 7em;
}

.create-meal-form {
  width: 75%;
}

@media screen and (max-width: 574px) {
  .mt-3-sm {
    margin-top: 1rem !important;
  }

  .ingredients-hidden {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navbar-hidden {
    box-shadow: 0px 3px 3px lightgray;
    background: white;
  }
}

.ingredient:hover {
  cursor: pointer;
  color: lightgray;
}

@media screen and (min-width: 768px) {
  .create-meal-form {
    width: 60%;
  }

  .donut-chart {
    height: 400px;
    width: 400px;
  }

  .full-center {
    display: flex;
    align-items: center;
    height: 100vh;
  }
}

.bg-chinese-silver {
  background-color: #ccc;
}

.bg-antiflash-white {
  background-color: #f2f2f2;
}

.diet-card {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 4em;
  margin-left: 1em;
  margin-right: 1em;
}

.diet-cards-container {
  padding-top: 15vh;
}

.login-form {
  display: flex;
  align-items: center;
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.navbar-link {
  color: #afafaf;
  text-decoration: none;
}

.navbar-link:hover {
  color: #343a40;
  text-decoration: underline;
}

.navbar-link-active {
  color: #343a40;
}

.page-option-item {
  color: gray;
}

.page-option-item:hover {
  cursor: pointer;
  color: black;
}

.list-group-link {
  text-decoration: none;
  color: gray;
}

.list-group-link-active,
.list-group-link:hover {
  color: #4e73df;
}

.liked-active {
  color: red;
}

.delete-icon:hover {
  cursor: pointer;
  color: red;
}

.meal-card-icon:hover {
  opacity: 0.7;
}

.delete-icon:hover {
  color: #e74a3b;
  cursor: pointer;
}

.add-icon:hover {
  color: #1cc88a;
  cursor: pointer;
}

.ingredient-img {
  border-radius: 2px;
}

.ingredient-img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: 30px; /*gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.img-container {
  position: relative;
}
.img-container img {
  display: block;
}
.img-container .img-delete-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.add-meal-container {
  max-width: 760px;
  padding-left: 1em;
  padding-right: 1em;
}

@media screen and (max-width: 991px) {
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: auto; /* gutter size offset */
    margin-right: auto;
    width: auto;
  }
}

@media screen and (max-width: 514px) {
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: 55px;
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: 40px;
    width: auto;
  }
}

@media screen and (max-width: 440px) {
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    width: auto;
  }
}

@media screen and (max-width: 400px) {
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 10px;
    background-clip: padding-box;
  }
}
